name: PR Check

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: aarch64-macos
            os: macos-14
          - target: x86_64-linux-musl
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Test and Format Check
        uses: ./.github/actions/test-format-zig
        with:
          target: ${{ matrix.target }}
          zig-version: '0.13.0'
